{% load static %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="description" content="" />
<meta name="author" content="" />


<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />

<!-- Icons -->
<link href="{% static 'vendor/themify-icons/themif-icons.css'%}" rel="stylesheet" />
<link href="{% static 'vendor/MaterialDesign/css/materialdesignicons.css'%}" rel="stylesheet" />

