{% load static %} {% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="mdi mdi-calendar-star"></i> <b>Agenda</b></a>
    {% comment %} <a class="navbar-brand" href="{% url 'index' %}"><i class="mdi mdi-calendar-star"></i> <b>Agenda</b></a> {% endcomment %}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-warning" href="/contatos"><i class="mdi mdi-user"></i> <b>Contatos</b></a>
    <a class="btn btn-warning" href="/admin"><i class="mdi mdi-account-key"></i> <b>ADMIN</b></a>
  </div>
</nav>

{% endblock nav %}
